.header {
  height: 43px;
  background-color: #23b4d6;
  display: flex;
  &__item {

    &:nth-child(1) {
      flex: none;
      width: 60px;
    }
    &:nth-child(2) {
      flex: 3 3 0%;
    }
    &:nth-child(3) {
      flex: none;
      width: 400px;
    }
  }
}
.menu {
  &__button {
    margin: 10px 0  0 20px;
    color: #333333;
    font-size: 25px !important;
    cursor: pointer;
    transition: .5s;
    &:hover {
      opacity: 0.8;
      transition: .5s;
    }
  }
}
.title {
  &__text {
    color: #ffffff;
    font-size: 23px;
    margin-top: 6px;
    float: right;
    margin-right: 186px;
  }
}

.options {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
    margin-top: 4px;
    margin-right: 15px;
    .options__item {
      align-items: flex-end;
      color: #d9f2f8;
      cursor: pointer;
      font-size: 10px;
      position: relative;
      top: 5px;
    }
    .item--chat {
      transition: .5s;
      &:hover {
        opacity: 0.5;
        transition: .5s;
      }
      &:after {
        content: "\f086";
        font-family: FontAwesome;
        position: absolute;
        top: -20px;
        left: 33%;
        font-size: 18px;
      }
    }
    .item--dashboard {
      transition: .5s;
      &:hover {
        opacity: 0.5;
        transition: .5s;
      }
      &:after {
        content: "\f247";
        font-family: FontAwesome;
        position: absolute;
        top: -20px;
        left: 33%;
        font-size: 18px;
      }
    }
    .item--sheduler {
      transition: .5s;
      &:hover {
        opacity: 0.5;
        transition: .5s;
      }
      &:after {
        content: "\f02d";
        font-family: FontAwesome;
        position: absolute;
        top: -20px;
        left: 33%;
        font-size: 18px;
      }
    }
    .item--notification {
      transition: .5s;
      &:hover {
        opacity: 0.5;
        transition: .5s;
      }
      &:after {
        content: "\f0a2";
        font-family: FontAwesome;
        position: absolute;
        top: -20px;
        left: 33%;
        font-size: 18px;
      }
    }
    .item--icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid white;
      background-image: url(../icon.jpg);
      background-size: 102%;
      background-repeat: no-repeat;
    }
  }
}






